APP_NAME="Let It Spin!"
APP_ENV=development
APP_PORT=8000

DB_HOST="##############"
DB_PORT=5432
DB_USER="#############"
DB_PASSWORD="#############"
DB_NAME=letitspin

CORS_ALLOW_ORIGINS=#######,#######,#######

JWT_SECRET="#############"